img {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    border-radius: 50%;
    
}
.titulo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: rgba(212, 192, 192, 0);
}
.tituloa{
    margin-right: 300px;
    padding-left: 50px;
}